# Django settings
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost

# postgreSQL
POSTGRES_DB=expense_db
POSTGRES_USER=expense_user
POSTGRES_PASSWORD=expense_pass

# Used when Django runs directly on the host (e.g., for development or testing)
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
